<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Wynik</title>
    <link href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/style.css" th:href="@{/css/style.css}"/>

</head>

<body>
<div class="label">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/">Strona Główna</a></li>
        <li><a href="/question">Quiz</a></li>
    </ul>


</div>
<div class="alert alert-info">
    <div class="text-center">
        <div class="col">
            <div class="center-block">
                <div class="jumbotron"><h1>Zakończyłeś quiz!</h1></div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="page-header">
        <h1>
            <small>Gratulacje, oto otrzymany wynik:</small>
        </h1>

    </div>
</div>

<div class="summaryvalue">
    <b th:text="${summary}">wynik</b>
    /
    <b th:text="${allpoints}">points</b>
</div>

<div class="footer">
    &copy; Justyna Klijewska 2017
</div>

</body>
</html>